In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

In [6]:
data = pd.read_csv('task.csv')

In [8]:
data=data[['description']]

In [9]:
data

                     description
0              meeting with boss
1             intership seminar
2        final year result check
3  assigment submition last day
4               mobile recharge
5          full the google form
6           make ppt for college
7                 pay EMI laptop
8      submit the NPTL assigment
9               watch movies RRR

In [10]:
data['description'][0]

'meeting with boss'

In [11]:
len(data)

10

In [31]:
import random
def select_random_word():
    keyword ={'keyword':[]}

    for i in range(len(data)):

        words = data['description'][i].split() 
        if not words:
            return None  # Return None if the input text is empty
        keyword['keyword'].append(random.choice(words)) 
    data['keywords']=keyword['keyword']

In [32]:
select_random_word()

In [33]:
data

                     description   keywords
0              meeting with boss       boss
1             intership seminar   intership
2        final year result check      check
3  assigment submition last day   assigment
4               mobile recharge      mobile
5          full the google form        form
6           make ppt for college        ppt
7                 pay EMI laptop        pay
8      submit the NPTL assigment     submit
9               watch movies RRR      watch

In [34]:
x = data['keywords'] 
y = data['description']

In [36]:
# Assuming 'X' is a list of keywords and 'y' is a list of corresponding tasks
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [37]:
# Convert keywords to numerical features using TF-IDF
tfidf_vectorizer = TfidfVectorizer()
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

In [38]:
# Train a Naive Bayes classifier
nb_classifier = MultinomialNB()
nb_classifier.fit(X_train_tfidf, y_train)

MultinomialNB()

In [42]:
X_test

8       submit
1    intership
Name: keywords, dtype: object

In [39]:
# Make predictions on the test set
y_pred = nb_classifier.predict(X_test_tfidf)

In [40]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Classification Report:\n", report)

Accuracy: 0.0
Classification Report:
                                precision    recall  f1-score   support

assigment submition last day        0.00      0.00      0.00       0.0
           intership seminar        0.00      0.00      0.00       1.0
    submit the NPTL assigment       0.00      0.00      0.00       1.0

                     accuracy                           0.00       2.0
                    macro avg       0.00      0.00      0.00       2.0
                 weighted avg       0.00      0.00      0.00       2.0

c:\Users\91932\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\91932\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\91932\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\91932\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\91932\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\91932\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [45]:
c = pd.read_csv('task.csv')

In [46]:
c

   Unnamed: 0.1  Unnamed: 0                    description priority
0             0           0              meeting with boss     HIGH
1             1           1             intership seminar      HIGH
2             2           2        final year result check      LOW
3             3           3  assigment submition last day      HIGH
4             4           4               mobile recharge       LOW
5             5           5          full the google form       LOW
6             6           6           make ppt for college     HIGH
7             7           7                 pay EMI laptop     HIGH
8             8           8      submit the NPTL assigment     HIGH

In [54]:
high = c[c['priority']=='HIGH']

In [55]:
low = c[c['priority']=='LOW']

In [56]:
p = pd.concat([high,low],ignore_index=True)

In [57]:
p

   Unnamed: 0.1  Unnamed: 0                    description priority
0             0           0              meeting with boss     HIGH
1             1           1             intership seminar      HIGH
2             3           3  assigment submition last day      HIGH
3             6           6           make ppt for college     HIGH
4             7           7                 pay EMI laptop     HIGH
5             8           8      submit the NPTL assigment     HIGH
6             2           2        final year result check      LOW
7             4           4               mobile recharge       LOW
8             5           5          full the google form       LOW